<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Editar Usuario</h2>
        <form action="" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre del Usuario:</label>
                <input type="text" name="nombre" class="form-control" value="{{ usuario.Nombre }}" required>
            </div>
            <div class="form-group">
                <label for="documento">Documento del Usuario:</label>
                <input type="text" name="documento" class="form-control" value="{{ usuario.Documento }}" required>
            </div>
            <div class="form-group">
                <label for="rol">Rol del Usuario:</label>
                <input type="text" name="rol" class="form-control" value="{{ usuario.Rol }}" required>
            </div>
            <div class="form-group">
                <label for="username">Username del Usuario:</label>
                <input type="text" name="username" class="form-control" value="{{ usuario.Username }}" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña del Usuario:</label>
                <input type="text" name="contrasena" class="form-control" value="{{ usuario.Contraseña }}" required>
            </div>
            <div class="form-group">
                <label for="tarjeta">Tarjeta del Usuario:</label>
                <input type="text" name="tarjeta" class="form-control" value="{{ usuario.Tarjeta_Profesional }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="/admin" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
